<div class="container">
<% @articles.each do |article| %>

  <h3><%= article.title %></h3>

  <p>
    <%= article.text %>
  </p>

  <p>
    <%= link_to 'Read', article_path(article), class: 'btn btn-primary' %>
  </p>
  <p>
  <% if user_signed_in? and current_user.username == article.author %>
    <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default btn-xs' %> | 
    <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-default btn-xs' %>
  </p>
  <% end %>

  <hr />

<% end %>
</div>